In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("TRAINING_DATA.csv")
data.head()

,eval,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
0,240,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,590,0,0,0,0,0,0,0,0,0,...,0,23,-1,1,5,0,4,1,-1,-1
2,270,0,0,0,0,0,0,0,0,0,...,0,26,0,1,3,0,4,1,-1,1
3,600,0,0,0,0,0,0,0,0,0,...,0,124,-2,3,3,1,1,1,-1,-1
4,500,0,0,0,0,0,0,0,0,0,...,0,112,-2,3,-2,1,1,0,-1,1

In [11]:
# we want to predict "eval" from the rest of the table
evals = data["eval"]
data = data.drop(["eval"], axis=1)
data.head()

,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,ppr3,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,23,-1,1,5,0,4,1,-1,-1
2,0,0,0,0,0,0,0,0,0,0,...,0,26,0,1,3,0,4,1,-1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,124,-2,3,3,1,1,1,-1,-1
4,0,0,0,0,0,0,0,0,0,0,...,0,112,-2,3,-2,1,1,0,-1,1

In [12]:
# linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(data, evals)
for i, c in enumerate(model.coef_):
    print(f"{data.columns[i]}: {c}")

p: 1564.9382512422671
n: 5411.366733689388
b: 5830.2203399956
r: 7836.138955366704
q: 15954.851862966667
bpair: -98.81246957023134
ppr0: -3.126388037344441e-12
ppr1: 882.3833344326152
ppr2: 1471.062503966792
ppr3: 1304.6848083026298
ppr4: 1166.6963713602643
ppr5: 1321.9087268467113
ppr6: 828.4235229198515
ppr7: -4.547473508864641e-13
isolated: -124.94997732615921
doubled: -146.73434196252492
pst: 6.120191129040804
p_mob: 165.01213042073778
n_mob: 79.51636151347145
b_mob: 112.19462916856219
r_mob: 185.91232949512903
q_mob: 60.06181641514672
k_mob: -202.4209882800111
p_shield: 47.91349641308943
turn: 315.3215110797426

In [14]:
for i, c in enumerate(model.coef_):
    print(f"{data.columns[i]}: {c / 1564.9382512422 * 1000}")

p: 1000.0000000000429
n: 3457.8787561707377
b: 3725.527403632539
r: 5007.315112367288
q: 10195.195785074711
bpair: -63.14144950562556
ppr0: -1.9977708608392758e-12
ppr1: 563.8454640189199
ppr2: 940.0131301021671
ppr3: 833.6973086746464
ppr4: 745.5223044322524
ppr5: 844.7034416836706
ppr6: 529.3649907670633
ppr7: -2.905848524857128e-13
isolated: -79.84339140983853
doubled: -93.7636624614752
pst: 3.910819563764119
p_mob: 105.44322134739578
n_mob: 50.811181495725975
b_mob: 71.69268760572855
r_mob: 118.79850808653792
q_mob: 38.379671764985936
k_mob: -129.34758807213993
p_shield: 30.616860681280663
turn: 201.49134371880172